@import 'styles/styles-utils.scss';
.button {
    user-select: none;
    background-color: $color-primary;
    padding: 8px;
    border-radius: 1em;
    border: none;
    @include themify($themes) {
        color: themed('textColorBase');
    }
    cursor: pointer;
}
