@import 'styles/styles-utils.scss';

.productCard__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: auto;
    border: 1px solid #999;
    border-radius: 0.3em;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 4px 0 rgba(0, 0, 0, 0.18), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    .productCard__header {
        position: relative;
        width: 100%;
        min-height: 180px;
        .productCard__image {
            width: 100%;
            height: 180px;
            border-bottom: 1px solid #999;
            border-top-left-radius: 0.3em;
            border-top-right-radius: 0.3em;
            object-fit: cover;
        }
        .productCard__favorite {
            cursor: pointer;
            position: absolute;
            left: 270px;
            top: 15px;
            user-select: none;
            &:hover {
                transform: scale(1.3);
            }
            &--red {
                svg {
                    path {
                        fill: red;
                    }
                }
            }
        }
    }
    .productCard__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        padding: 8px 16px;
        .productCard__title {
            display: flex;
            justify-content: space-between;
            & span:last-child {
                font-weight: 525;
            }
        }
        .productCard__description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 280px;
        }
        .productCard__footer {
            display: flex;
            justify-content: space-between;
            span {
                @include themify($themes) {
                    color: themed('textColorWeaker');
                }

            }
            .productCard__button {
                cursor: pointer;
                padding: 8px 10px;
                border-radius: 1.5em;
                &--disabled {
                    border: 1px solid #999999;
                    background-color: #cccccc;
                    color: #666666;
                    cursor: initial;
                }
            }
        }
    }
    @media only screen and (max-width: 768px) {
        width: 250px;
        height: 250px;
        .productCard__header {
            min-height: 150px !important;
            .productCard__image {
                height: 150px !important;
            }
        }
        .productCard__description {
            display: none !important;
        }
        .productCard__favorite {
            left: 225px !important;
        }
    }
}

.skeleton__wrapper {
    border: none;
    box-shadow: none;
}

.skeleton__line {
    height: 100%;
    width: 100%;
    @include themify($themes) {
        background: themed('skeletonBackgroundGradient');
    }
    background-size: 400% 400%;
    animation: pulse 1.2s ease-in-out infinite;
    @keyframes pulse {
        0% {
            background-position: 0% 0%;
        }
        100% {
            background-position: -135% 0%;
        }
    }
    // width: 5.5em;
    border-radius: 5px;
    &::before {
        content: '\00a0';
    }
}
