
/* RUBIK */

@font-face {
	font-family: 'Rubik';
	src: url('../../assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik Light';
	src: url('../../assets/fonts/Rubik/Rubik-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik Bold';
	src: url('../../assets/fonts/Rubik/Rubik-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik Medium';
	src: url('../../assets/fonts/Rubik/Rubik-Medium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik Bold Italic';
	src: url('../../assets/fonts/Rubik/Rubik-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Rubik Light Italic';
	src: url('../../assets/fonts/Rubik/Rubik-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Rubik Italic';
	src: url('../../assets/fonts/Rubik/Rubik-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}